<config>
    <map_type>VOC2012</map_type>
    <map_iou_thresh>0.5</map_iou_thresh>
    <scene name="all">
        <gt_box>gt_boxes.txt</gt_box>
        <detection name="aeroplane">detection/aeroplane.txt</detection>
        <detection name="bicycle">detection/bicycle.txt</detection>
        <detection name="bird">detection/bird.txt</detection>
        <detection name="boat">detection/boat.txt</detection>
        <detection name="bottle">detection/bottle.txt</detection>
        <detection name="bus">detection/bus.txt</detection>
        <detection name="car">detection/car.txt</detection>
        <detection name="cat">detection/cat.txt</detection>
        <detection name="chair">detection/chair.txt</detection>
        <detection name="cow">detection/cow.txt</detection>
        <detection name="diningtable">detection/diningtable.txt</detection>
        <detection name="dog">detection/dog.txt</detection>
        <detection name="horse">detection/horse.txt</detection>
        <detection name="motorbike">detection/motorbike.txt</detection>
        <detection name="person">detection/person.txt</detection>
        <detection name="pottedplant">detection/pottedplant.txt</detection>
        <detection name="sheep">detection/sheep.txt</detection>
        <detection name="sofa">detection/sofa.txt</detection>
        <detection name="train">detection/train.txt</detection>
        <detection name="tvmonitor">detection/tvmonitor.txt</detection>
    </scene>
    <scene name="part">
        <gt_box>gt_boxes.txt</gt_box>
        <detection name="aeroplane">detection/aeroplane.txt</detection>
        <detection name="bicycle">detection/bicycle.txt</detection>
        <detection name="bird">detection/bird.txt</detection>
    </scene>

</config>